<h2 class="sub-header">Section title</h2>
<div class="table-responsive">
  <table class="table table-striped">

    <thead>
      <tr>
        <th>#</th>
        <th>Header</th>
        <th>Header</th>
        <th>Header</th>
        <th>Header</th>
      </tr>
    </thead>
   <%= render "gists/tabela" %>
  </table>
</div>
<br>
<p>
          <a class="btn btn-lg btn-primary" href="<%= new_gist_path %>" role="button">Add new</a>
</p>
